*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Nunito",sans-serif;
}
.input{
	text-align: center;
	padding-top: 50px;
}
input[type="text"]{
	height: 40px;
	width: 550px;
	background:#e7e7e7;
	font-family: "Nunito",sans-serif;
	font-weight: bold;
	font-size: 20px;
	border:none;
	border-radius: 8px;
	padding:10px 10px;
}

input[type="submit"]{
	height: 40px;
	width: 100px;
	background:#e7e7e7;
	font-family: "Nunito",sans-serif;
	font-weight: bold;
	font-size: 20px;
	border:none;
	border-radius: 8px;

}
.display{
	text-align: center;
	padding-top: 50px;
}